html {
    font-size: 1em;
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.header {
    background-image: url("../img/header.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 130px 20px 100px;
}

.menu {
    text-align: center;
    color: #FFF;
    cursor: pointer;
    margin-top: 20px;
}

.menu hr {
    background: #FFF;
    border-color: #FFF;
    width: 90%;
    margin: 3px 0;
}

.menu p {
    font-size: .9em;
    margin: 0px;
}

.header-title {
    display: flex;
    justify-content: end;
}

.title {
    color:#FFF;
    margin-top: 190px;
    margin-right: 60px;
    font-size: 3.7em;
    font-weight: 100;
    letter-spacing: 2px;
}

.smile {
    font-size: 2.8em;
    font-weight: lighter;
}

.slider-header {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.slider-header ul {
    padding-bottom: 50px;
}

.slider-header li {
    display:block;
    float:left; 
    color: #000;
    margin-right: 10px;
    font-size: 2.8em;
}

.slider-header li:hover {
    color: #FFF;
    transition: 0.2s ease-in-out;
}

.texte {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0 250px 0 250px;
}

h2 {
    font-weight: normal;
    font-size: 2.5em;
    letter-spacing: 1px;
}

h2 span {
    font-weight: bolder !important;
}

.bold {
    font-weight: bold;
}

hr {
    width: 90px;
    height: 2px;
    background: #000;
}


.two {
    background: #ffe9e2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "slider-deux image";
}

.slider-deux {
    grid-area: slider-deux;
    text-align: left;
    padding: 50px 140px 10px 50px;
    font-size: 2em;
    font-weight: bolder;
}

.author {
    font-weight: lighter;
    color: #584b40;
}

.slider-deux li {
    display:block;
    float:left; 
    color: #000;
    margin-right: 10px;
    font-size: 1em;
}

.slider-deux li:hover {
    color: #949088;
    transition: 0.2s ease-in-out;
}

.image {
    grid-area: image;
}

.couple {
    width: 100%;
}

.three {
    padding: 50px;
}

.three-hr {
    width: 50px;
    margin-bottom: 50px;
}

.reasons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 70px;
}

.alive, .love, .enjoy, .health {
    padding: 30px;
}

.alive, .love, .enjoy, .health p {
    font-weight: 100;
}

.alive {
    border: solid 1px #949088;
}

.love {
    border-top: solid 1px #949088;
    border-right: solid 1px #949088;
    border-bottom: solid 1px #949088;
}

.enjoy {
    border-left: solid 1px #949088;
    border-right: solid 1px #949088;
    border-bottom: solid 1px #949088;
}

.health {
    border-right: solid 1px #949088;
    border-bottom: solid 1px #949088;
}

i {
    font-weight: 100;
}

.button {
    text-align: center;
    margin-bottom: 50px;
}

.button a {
    text-decoration: none;
    color: #000;
    font-weight: bolder;
    border: solid 2px #000;
    border-radius: 3px;
    letter-spacing: 3px;
    padding: 12px 20px;
}

.button a:hover {
    background: #000;
    color: #FFF;
    transition: 0.2s ease-in-out;
}

.four {
    background-image: url("../img/four.png");
    opacity: 0.73;
    text-align: center;
    padding: 100px 200px;
}

.four h2 {
    font-size: 4em;
    color: #FFF;
}

.four p {
    color: #FFF;
}

.four span {
    text-decoration: underline;
}

.five {
    background: #f2f4f5;
    padding: 50px;
}

.five-hr {
    width: 50px;
    margin-bottom: 50px;
}

.posters {
    display: grid;
    grid-template-columns: 1fr 25% 25%;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 20px;
    grid-template-areas: "gentleman muse muse"
                        "gentleman work silence";
    margin-bottom: 70px;
}

.gentleman {
    grid-area: gentleman;
}

.gentleman img {
    width: 100%;
}

.muse {
    grid-area: muse;
    margin-bottom: 130px;
}

.muse img {
    width: 100%;
}

.work {
    grid-area: work;
}

.work img {
    width: 100%;
}

.silence {
    grid-area: silence;
}

.silence img {
    width: 100%;
}

/* .work-silence {
    grid-area: work-silence;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
} */


